.header {
  display: flex;
  justify-content: center;

  color: white;
  text-shadow: rgb(0, 0, 1);

  font-size: x-large;
  top: 0;
  position: sticky;
  border-bottom: 1px solid whitesmoke;
}

.main {
  width: 1350px;
  height: 500px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(D:\new\react\reactjs\img\wallpaper.jpg); */
  background: #383838 !important;
}
.container {
  padding: 0rem 0;
  width: 250px;
  max-width: 300px;
  margin: 0rem 2rem;
  height: 150px;
}
.container h1 {
  text-align: center;
}
.users {
  margin-top: 1rem;

  list-style: none;
}
.users li {
  padding: 1rem;

  background-color: whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.users h1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}
#logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 2rem;
}
#picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 2rem;
}
h4 {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: grey;
}

.page {
  width: 1350px;
  height: 1500px;
}
.page h1 {
  text-align: center;
}
.page h2 {
  text-align: center;
}
#mth {
  text-align: center;
}
.ctn {
  margin-inline: 5px;
}
#cal {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 40px;
}
.cal {
  width: 300px;
}
#btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.btn {
  width: 100px;
  height: 30px;
}
input {
  text-align: center;
}
.css {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newpage {
  width: 1350px;
  height: 1700px;
  background-color: aliceblue;
}
.img1 {
  display: flex;

  justify-content: space-between;
}
.div1 {
  display: flex;
  justify-content: center;
}
.img {
  display: flex;
  justify-content: flex-end;
}
.div2 {
  display: flex;
  justify-content: center;
  text-align: justify;
}
.adj {
  height: 300px;
}
.red {
  background-color: rgb(252, 29, 29);
}
#red {
  background-color: rgb(252, 29, 29);
}
.earth {
  background-color: rgb(209, 157, 94);
}
#earth {
  background-color: rgb(209, 157, 94);
}
.air {
  background-color: #46a7cb;
}
#air {
  background-color: #46a7cb;
}
.water {
  background-color: #1d9a74;
}
#water {
  background-color: #1d9a74;
}
